.building{
  text-align: center;
  width: 100%;
  /*img{
    width: 50rem;
    height:22.5rem;
  }*/
  .tip-title{
    width: 25rem;
    margin: 0 auto;
  }
  .btn-build{
    width: 19rem;
    margin: 1rem auto;
    .left{
      float: left;
    }
    .right{
      float: right;
    }
  }
}