/*************************************
*    create by xiaofeng.yao
*    email 871213171@qq.com
*    time 2017.08.31
*    component qsDoc
*    path /Users/apple/qishon/qishon-web-3.0/official-website/src/less/view/doc.less
*************************************/
.qsDoc{

    @qsDoc-hColor:#00a0e9;

    background-color:#fafafa;
    padding:48px 0;
    .container{
        background-color:#fff;

        .qsDoc__h{
            padding-left:24px;
            position: relative;
            margin:40px 0 20px;
            &:before{
                content:"";
                display:inline-block;
                width:4px;
                height: 20px;
                position: absolute;
                left:12px;
                top:0;
                background-color:@qsDoc-hColor;
            }
        }
        .qsDoc__li{
            margin-bottom: 20px;
        }

    }
}