body{
  .swiper-container{
    height:500px;
    .slide-one {
      background: url("../images/banner1.jpg") no-repeat;
      background-size: 100%;
    }
    .slide-two {
      background: url("../images/banner2.jpg") no-repeat;
      background-size: 100%;
    }
    .slide-three {
      background: url("../images/banner3.jpg") no-repeat;
      background-size: 100%;
    }
  }
}