body{
  .swiper-container{
    .slide-one {
      background: url("../images/banner1.png") no-repeat;
    }
    .slide-two {
      background: url("../images/banner1.png") no-repeat;
    }
    .slide-three {
      background: url("../images/banner1.png") no-repeat;
    }
  }
}